<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>WEIGHTS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">WEIGHTS</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Squat</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A compound exercise where you lower your body into a squat position and then push through your heels to lift the weight, primarily targeting your lower body muscles.    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Deadlift</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      This exercise involves lifting a loaded barbell from the ground to an upright position, working multiple muscle groups including your back, hips, and legs.    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Bench Press</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      By lying flat on a bench and pressing a weighted barbell away from your chest, the bench press primarily targets your chest, shoulders, and triceps.    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Overhead Press</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Also known as the shoulder press, it involves pressing a barbell or dumbbells overhead from shoulder level, targeting your shoulders, triceps, and upper back.    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Pull-up</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Using an overhead bar, this exercise involves pulling your body up until your chin passes the bar, engaging your back, shoulders, and arms for a challenging upper body workout. </ion-card-content>
  </ion-card>
</ion-content>
