<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SLEEP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SLEEP</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Routine</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Create a consistent routine before bed, such as reading a book or taking a warm bath, to signal to your body that it's time to unwind and prepare for sleep.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Sleep-friendly Environment</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Ensure your bedroom is dark, quiet, and at a comfortable temperature to promote better sleep. </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Relaxation Techniques</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Engage in activities like deep breathing, meditation, or progressive muscle relaxation to calm your mind and relax your body before sleep.    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Limit Exposure To Screens  </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Avoid using electronic devices with bright screens, such as smartphones or tablets, as the blue light emitted can interfere with your sleep cycle.    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Regular Sleep Schedule</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Try to go to bed and wake up at the same time every day, even on weekends, to regulate your body's internal clock and improve overall sleep quality.    </ion-card-content>
  </ion-card>
</ion-content>
