<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CARDIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CARDIO</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Running</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Running involves moving rapidly on foot, typically at a steady pace, and is a highly effective cardiovascular exercise that engages multiple muscle groups and improves endurance.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Jumping Rope</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Jumping rope involves continuously jumping over a rope swung under the feet, which helps elevate heart rate, improve coordination, and strengthen the lower body.     </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cycling</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Cycling, whether on a stationary bike or outdoors, is a low-impact exercise that strengthens the legs, boosts cardiovascular fitness, and can be done at varying intensities to suit different fitness levels.    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>High-Intensity Interval Training </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      HIIT workouts involve alternating between short bursts of intense exercise (like burpees or jumping jacks) and brief recovery periods, providing a challenging cardio workout that maximizes calorie burn in less time.    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Aerobic Dance</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aerobic dance classes, such as Zumba or dance cardio workouts, combine rhythmic movements with energetic music, making it an enjoyable and effective cardio activity that enhances cardiovascular health and coordinat    </ion-card-content>
  </ion-card>
</ion-content>
