<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>DIETS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">DIETS</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Mediterranean Diet</ion-card-title>
    </ion-card-header>
    <ion-card-content>
A heart-healthy eating plan that emphasizes fruits, vegetables, whole grains, lean proteins, and healthy fats like olive oil, while limiting processed foods, red meat, and sugar.    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ketogenic Diet</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A low-carbohydrate, high-fat diet that aims to shift the body into a state of ketosis, where it primarily burns fat for fuel, typically resulting in weight loss.    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Vegetarian Diet</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A diet that excludes meat and seafood but includes plant-based foods like fruits, vegetables, grains, legumes, nuts, and seeds, and may or may not include dairy and eggs.    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>DASH Diet</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A dietary approach designed to help lower blood pressure by emphasizing fruits, vegetables, whole grains, lean proteins, and low-fat dairy products while reducing sodium, saturated fats, and added sugars.    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Paleo Diet</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A diet inspired by our ancestors' eating patterns, focusing on whole, unprocessed foods like lean meats, fish, fruits, vegetables, nuts, and seeds, while excluding grains, legumes, dairy, and processed foods.    </ion-card-content>
  </ion-card>
</ion-content>
